@import "null.scss";

.wrapper {
  width: 700px;
  height: 100vh;
  margin: 0 auto;
}

p {
  font-size: 20px;
}

.json-formatter-block {
  display: flex;
  background-color: rgb(243, 244, 216);
  padding: 20px;
  .btn-block {
    flex: 0 0 30px;
    writing-mode: vertical-rl;
    margin: 0 10px;
    button {
      font-size: 20px;
      display: block;
      width: 100%;
      height: 100%;
      background-color: rgb(198, 225, 78);
    }
  }
  .formatted-block,
  .enter-block {
    flex-grow: 1;
  }
  textarea {
    font-size: 18px;
    padding: 10px;
    width: 100%;
    height: 300px;
  }
  .error{
    color: red;
  }
}




.directory_copywriters {
  background-color: rgb(246, 200, 200);
  padding: 20px;
  .users {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .user {
      flex: 1 1 200px;
      margin: 10px;
      border: 1px solid black;
      padding: 5px;
      background-color: rgb(222, 239, 136);
      cursor: pointer;
    }
  }
  table {
    margin: 10px 0;
    border-collapse: collapse;
    font-size: 18px;
    width: 100%;
    background-color: rgb(222, 239, 136);
    td {
      padding: 3px;
      border: 1px solid black;
    }
  }
  button {
    width: 300px;
    padding: 3px;
    font-size: 20px;
    margin: 0 auto;
    display: block;
  }
  .post {
    width: 400px;
    margin: 0 auto;
    border: 1px solid black;
    padding: 10px;
    background-color: rgb(222, 239, 136);
  }
}